@media screen and (max-width: 990.99px) {
  .container {
    padding: 0 20px !important;
  }

  .navbar-brand {
    img {
      max-width: 126px;
    }
  }

  .navbar-custom {
    padding: 13px 0 24px !important;

    .nav-item {
      .nav-link {
        font-size: 24px !important;
        line-height: 222% !important;
        padding: 0 !important;
      }
    }

    .navbar-nav {
      padding: 33px 0 25px !important;
    }

    .navbar-collapse {
      text-align: center !important;
      background: $bg-section !important;
      margin: 0 -20px !important;
      transform: translate(0, 20px) !important;
      box-shadow: 14px 22px 40px #1e234266 !important;

      .btn-primary {
        margin-bottom: 60px !important;
        font-size: 16px !important;
        padding: 21px 40px !important;
        max-width: 295px !important;
        width: 100% !important;
      }
    }

    .navbar-collapse:not(.show) {
      display: none !important;
    }
  }

  .banner {
    padding-bottom: 0;

    .swiper {

      .container {
        align-items: center !important;
        text-align: center !important;
        min-height: 649px !important;
        position: relative;


      }
    }


    &-title {
      font-size: 32px !important;
      margin-bottom: 10px !important;
      max-width: 295px;
    }

    &-description {
      font-size: 16px !important;
      margin-bottom: 18px !important;
      max-width: 260px;
    }

    .swiper-slide {
      &::before {
        content: "";
        background-color: #04091199;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  section {
    padding: $section-padding-mobile;


    &.bg-section {
      padding-left: 0;
      padding-right: 0;

      &:before {
        width: 100%;
        border-radius: 0;
      }
    }

  }

  .calculation-img {
    display: none;
  }

  .calculation-form {
    margin: 0 auto;
    padding: 52px 30px 34px !important;

    .form-row {
      flex-direction: column;
      gap: 0 !important;
    }

    .control-box:first-child {
      margin-top: 6px;
    }

    .control-box:last-child {
      margin-bottom: 18px !important;
    }

    input {
      &[type=file] {
        +label {
          margin-top: 32px !important;
        }
      }
    }

    .btn-lg {
      width: 100%;

      img {
        margin-left: 74px;
      }
    }

  }

  .template-title {
    h2 {
      font-size: 24px !important;
    }

    h4 {
      font-size: 16px !important;
    }

    &::before {
      bottom: 28px;

    }



  }

  .calculation {
    padding: 54px 0 60px !important;

    .calculation-row {
      padding-top: 21px;
    }
  }

  .advantages {
    .swiper {
      padding-top: 16px;
      overflow: none;

      .swiper-horizontal>.swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: -8px;
      }
    }
  }



  .description {

    .container {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;

    }

    .description-row {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;

      .template-title {
        margin-top: 0 !important;
      }

      .description-explanation {
        margin: 0;
      }


    }
  }

  .image-row {
    margin-top: 9px;
  }


  .footer {

    .footer-content {
      display: flex;
      justify-content: center;
      text-align: center;

      .footer-row {
        display: none;

      }

      .footer-icons {
        display: flex;
        justify-content: center;

      }




    }


  }

}