@media screen and (max-width: 1210px) {
  .swiper-template {
    max-width: 720px;


    +.swiper-navigation {
      max-width: 942px;
    }
  }

}


@media screen and (max-width: 1199.99px) {
  .navbar-custom .nav-item .nav-link {
    padding: 12px 15px !important;
  }
}

@media screen and (max-width: 1140.99px) {
  .cooperation {
    .cooperation-row {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;

      .cooperation-image {
        &--1 {
          margin-left: 0 !important;
          margin-bottom: 43px;
        }

        &--2 {
          margin-right: 0 !important;
          margin-bottom: 29px;
        }
      }
    }
  }
}