@media screen and (max-width: 1210px) {
	.swiper-template{
    max-width: 720px;


		+ .swiper-navigation {
			max-width: 942px;
		}
	}

}


@media screen and (max-width: 1199.99px) {
  .navbar-custom {
    .nav-item {
      .nav-link {
        padding:  12px 17px !important;
      }
    }
  } 
}
