@media screen and (max-width: 990.99px) {



  .container {
    padding: 0 20px !important;
  }

  .navbar-brand {

    img {
      max-width: 126px;
    }
  }

  .navbar-custom {
    padding: 13px 0 24px !important;
    .nav-item {
      .nav-link {
        font-size: 24px !important;
        line-height: 222% !important;
        padding: 0 !important;
      }
    }



    .navbar-nav {
      padding: 33px 0 25px !important;

    }

    .navbar-collapse {
      text-align: center !important;
      background: $bg-section !important;
      margin: 0 -20px !important;
      transform: translate(0, 20px) !important;
      box-shadow: 14px 22px 40PX #1e234266 !important;
      .btn-primary {
        margin-bottom: 60px !important;
        font-size: 16px !important;
        padding: 21px 40px !important;
        max-width: 295px !important;
        width: 100% !important;
      }

    }

    .navbar-collapse:not(.show) {
      display: none !important;
    }



    }










}
