.list {

  .container {
    position: relative;
  }


  .case-2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 124%;
    margin-bottom: 16px;
  }

  .list-description {
    max-width: 555px;
    line-height: 170%;
    font-size: 18px;
    font-weight: 300;
  }

  .list-image {
    bottom: -106px;
    left: 588px;
    position: absolute;
  }


}