header{
	height: 114px !important;
	padding: 15px 12px !important ;
	background: $bg-body !important;
	a {
		color: #fff !important;
	}


}

.container {
  max-width: 1140px !important;

}


.navbar-toggler {
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  .navbar-toggler-icon {
    background-image: none !important;
    background: #fff;
    height: 2px !important;
    position: relative;
    &:before,
    &::after{
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: .3s !important;
    }
    &::after {
      top: 18px !important;
    }
  }
}
[aria-expanded="true"] {
   .navbar-toggler-icon {
    background-color: transparent !important;
    &::before {
      transform: rotate(45deg) !important;
    }
    &::after {
      transform:  rotate(-45deg) !important;
      top: 9px !important;
    }
   }
}

.navbar-nav {
  margin-top: 3px !important;
}



.navbar-custom {
	 padding: 5px 0px 6px !important;

}
.navbar-custom {
	.nav-item {
		.nav-link {
			   padding: 11px 21px !important;
			&:hover {
				text-decoration: none;
				color: $primary-color  !important;
			}
		}
	}
}
.navbar-brand {
	 margin: 0 !important;
}