.services {
	background: $bg-section;

	.template-title {
		&::before {
			background-color: $primary-color;
		}
	}

	position: relative;

	.swiper-slide {

		.card {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			background-color: $bg-section;
			border: none;
			color: #fff;
			border-radius: 20px;
			padding: 0 20px 27px;
			overflow: hidden;
			min-height: 472px;
			max-width: 360px;
			width: 100%;
			z-index: 1;
			position: relative;



			.card-title {
				text-align: left !important;
				font-size: 22px;
				font-weight: 600;
				text-align: center;
				margin-bottom: 13px;
				z-index: 1;
			}

			.card-description {
				margin-bottom: 14px;
				font-weight: 400;
				line-height: 124%;
				font-size: 15px;
				z-index: 1;
			}



			.card-price {
				font-size: 22px;
				line-height: 125%;
				text-align: center;
				color: #a3a3a3;
				margin-bottom: 18px;

				b {
					font-weight: 700;
					font-size: 45px;
					color: #fff;
				}

				span {
					&:last-child {
						color: #fff;
					}
				}



			}



			.img-box {
				margin: 0 -20px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 27px;
				width: 100%;
				height: 100%;
				z-index: 0;

				img {
					object-fit: contain;
					height: 229px;
					position: absolute;
					inset: 0;
					height: initial;
					z-index: 1;

				}

				.img-fluid {
					max-width: 100%;
					height: auto;
				}


			}

			.btn-row {
				display: flex;
				gap: 14px;
				margin-top: initial;
				z-index: 1;


				.btn {
					width: 153px;
					padding: 13px 10px !important;
				}

			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
				z-index: 1;
			}

		}

	}


}

.swiper-template {
	.swiper-pagination {
		bottom: 10px !important;
	}
}

.swiper-button-prev-unique {
	@extend .swiper-button-prev;
}

[class*=swiper-button-prev-unique],
[class*=swiper-button-next-unique] {
	height: 25px;
	width: 46px;
	color: #ffff !important;


	&:hover {
		color: $secondary-color !important;
	}

	&.swiper-button-prev-unique {
		left: 0;
	}

	&.swiper-button-next-unique {
		right: 0;
	}

}






.swiper-navigation {
	position: absolute;
	bottom: 311px;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 1323px;
	width: 100%;
	background-color: yellow;
	display: flex;
	justify-content: space-between;

}